torch
torchvision
torchaudio
numpy
pandas
hydra-core
h5py
omegaconf
python-levenshtein
torchmetrics
pytorch-lightning
click
mne-bids
hydra-submitit-launcher
unidecode
kenlm
datasets
hypothesis
lightning-bolts
nltk
pytest
